<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="container">
    <h3>Donnée personelle</h3>
    <h4>Qui seront bien au secret</h4>
    <form>
        <div class="form-group">
            <label for="nom">Votre nom</label>
            <input id="nom" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="prenom">Votre prenom</label>
            <textarea id="prenom" cols="30" rows="10" class="form-control" ></textarea>
        </div>
    </form>
    <button class="btn btn-primary">submit</button>
</body>
</html>